@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Fredoka;
    src: url("../../public/fonts/Fredoka-Regular.ttf");
}
@font-face {
    font-family: Overpass;
    src: url("../../public/fonts/Overpass-Regular.ttf");
}
@font-face {
    font-family: Overpass-Mono;
    src: url("../../public/fonts/OverpassMono-Regular.ttf");
}

.nav-link {
    transition: color 0.3s ease-in-out;
}

.glow-effect {
    text-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 15px #e5e5e5, 0 0 20px #e5e5e5;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:focus {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassmorphism-header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassmorphism-slider {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.center img {
    max-height: 500px;
    min-height: 500px;
    margin: auto;
    display: block;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.carousel-item {
    @apply p-2 w-6 md:w-8;
}

.carousel-item img {
    @apply h-6 md:h-10;
}

.carousel-item p {
    @apply text-xs;
}

@keyframes blink-cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

#typewriter-text::after {
    content: "|";
    animation: blink-cursor 0.75s step-end infinite;
}

.modal-box {
    max-width: 900px;
}

/* #loadingScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; 
    height: 100vh;
    width: 100vw;
    z-index: 50;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
} */

/* .main-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1s;
} */

#question-numbers li {
    min-width: 3rem !important;
}
@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#animatedText {
    animation: fadeInOut 3s ease-in-out infinite;
    color: #109cde;
}

#loadingScreen {
    transition: opacity 0.5s ease-out;
    opacity: 1;
    visibility: visible;
}

.main-content {
    transition: opacity 0.5s ease-in;
    opacity: 0;
    visibility: hidden;
}

.collapse {
    @apply md:max-w-lg;
}

.collapse-title {
    @apply text-left;
}

.checkbox {
    @apply border-2;
}

.checkbox:indeterminate {
    @apply bg-inherit bg-none;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
    @apply bg-Second;
}

@media (min-width: 768px) {
    #pathway-div .card {
        max-width: 288px;
    }
}

@media (min-width: 1024px) {
    #pathway-div .card {
        max-width: 520px;
        max-height: 288px;
    }
}

@media (min-width: 768px) {
    #pathway-div figure {
        min-width: 255px;
        height: 288px;
    }
}
canvas {
    display: block;
    max-width: 80%;
}
/* .congrats{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 4em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
} */

#userGuideModal .modal-box {
    max-width: 100% !important;
}

#map {
    z-index: 1;
}

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--sizeX);
    height: var(--sizeY);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
    0%,
    100% {
        height: 3px;
        opacity: 0;
    }
    40% {
        opacity: 1;
        height: 10px;
    }
    80% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.special-button {
    min-width: 300px;
    min-height: 60px;
    font-size: 22px;
    letter-spacing: 1.3px;
    background: #109CDE;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.special-button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #109CDE;
    box-shadow: 0 0 60px rgba(18, 218, 240, 0.865);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.special-button:hover::before,
.special-button:focus::before {
    opacity: 1;
}

.special-button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #109CDE;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.special-button:hover::after,
.special-button:focus::after {
    animation: none;
    display: none;
}


@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* @media (max-width: 768px) {
    .special-button::before, button::after {
        display: none;
    }
} */
.hero {
    background: url('/public/images/landingpageheader.webp');
    background-size: cover;
    background-position: center; /* Centers the image in the section */
    background-repeat: no-repeat; 
}

.hero canvas{
    max-width: 100% !important;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #f3f4f6; /* Light gray background */
}
.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image is scaled correctly within the element */
}

#changing-text p {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#changing-text p.active {
    display: block;
    opacity: 1;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.neu {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 
        8px 8px 15px #a3b1c6, 
        -8px -8px 15px #ffffff;
}

.neu-inset {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 
        inset 8px 8px 15px #a3b1c6, 
        inset -8px -8px 15px #ffffff;
}

.neu-btn {
    border: none;
    outline: none;
    background: #e0e5ec;
    color: #31344b;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    box-shadow: 
        5px 5px 10px #a3b1c6, 
        -5px -5px 10px #ffffff;
    transition: all 0.2s ease-in-out;
}

.neu-btn:hover {
    background: #109CDE;
    color:white;
}

.feature-image {
    width: 100%;
    height: auto;
    max-width: 30rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature-image:hover {
    transform: scale(1.05);
}