@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@font-face {
    font-family: Fredoka;
    src: url('../../public/fonts/Fredoka-Regular.ttf');
}
@font-face {
    font-family: Overpass;
    src: url('../../public/fonts/Overpass-Regular.ttf');
}
@font-face {
    font-family: Overpass-Mono;
    src: url('../../public/fonts/OverpassMono-Regular.ttf');
}
