@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Fredoka;
    src: url("../../public/fonts/Fredoka-Regular.ttf");
}
@font-face {
    font-family: Overpass;
    src: url("../../public/fonts/Overpass-Regular.ttf");
}
@font-face {
    font-family: Overpass-Mono;
    src: url("../../public/fonts/OverpassMono-Regular.ttf");
}

.nav-link {
    transition: color 0.3s ease-in-out;
}

.glow-effect {
    text-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 15px #e5e5e5, 0 0 20px #e5e5e5;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:focus {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassmorphism-header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glassmorphism-slider {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.center img {
    max-height: 500px;
    min-height: 500px;
    margin: auto;
    display: block;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.carousel-item {
    @apply p-2 w-6 md:w-8;
}

.carousel-item img {
    @apply h-6 md:h-10;
}

.carousel-item p {
    @apply text-xs;
}

@keyframes blink-cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

#typewriter-text::after {
    content: "|";
    animation: blink-cursor 0.75s step-end infinite;
}

.modal-box{
    max-width: 900px;
}

#loadingScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; 
    height: 100vh;
    width: 100vw;
    z-index: 50;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.main-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

#animatedText {
    animation: fadeInOut 3s ease-in-out infinite;
    color: #109CDE; 
}
